@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
body {
  height: 100vh;
  overflow: auto;
}
.h-80 {
  height: 80vh !important;
}
#toggle-button,
#toggle-drop-shadow-button {
  width: 3rem;
  height: 1.5rem;
}
.switch-local {
  left: 0.7rem;
}
.switch-url {
  right: 0rem;
}
